[submodule "devolve-ui-core"]
	path = devolve-ui-core
	url = git@github.com:Jakobeha/devolve-ui-core.git
[submodule "devolve-ui-macros"]
	path = devolve-ui-macros
	url = git@github.com:Jakobeha/devolve-ui-macros.git
[submodule "dui-basic"]
	path = dui-basic
	url = git@github.com:Jakobeha/dui-basic.git
[submodule "mini-rx"]
    path = mini-rx
    url = git@github.com:Jakobeha/mini-rx.git
[submodule "zmq2"]
	path = zmq2
	url = git@github.com:Jakobeha/zmq2.git
